/* ------------------------------------- */
/* Default styling */
/* ------------------------------------- */

.padding {
  padding: var(--default-padding);
}

.shadow {
  box-shadow: var(--box-shadow);
}

.shadow-inverted {
  box-shadow: var(--box-shadow-inverted);
}